
__pycache__
ckpt_*/
ckpts/*
output*/
comp/*

wandb

weights/
kmeans/
weights/*
kmeans/*
configs/*
temp/*

# !configs/exp3_rvq.yaml
!configs/exp4_blind.yaml
!configs/P4_EXP0.yaml

draw_losscurve.ipynb
demo_eval___*.ipynb
demo_eval___*.ipynb
*.ipynb

preprocess_*.py
temp.py
trainer_.py
discriminator_DAC.py
loss.py